.devskill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.2rem 0.6rem;
    border: rgb(247, 137, 27) solid 3px;
    border-radius: 5px;
    font-weight: bold;
    list-style: none;
}

.devskill > .level {
    background-color: teal;
    color: white;
    margin-left: 5rem;
    padding: 0.3rem 0.8rem;
    border-radius: 30px;
}